.sub_titulo {
    font-size: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 250px;
    color: white;
    background-color: black;
    background-image: url(/website/img/unnecessary-useless-knowledge-information-pollution-600w-1772300726.webp);
    background-position: 135%;
    background-repeat: no-repeat; 
    padding: 6%;  

           h1 {
    font-family: 'Staatliches', cursive;
}
}
