@import 'header';
@import 'main';

* {
    margin: 0%;
    padding: 0%;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Archivo Black', sans-serif;
}


$colorP: #FFCD00;
$colorS:#DCDCDC;

